@()

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <!-- TODO: "active" class should be responsive to the current page. -->
      <li class="active">
        <a href="/">Home</a>
      </li>
      <!-- TODO: Use scala/play routes to generate top bar links -->
      <li><a href="/tables">Table viewer</a></li>
      <li><a href="/layouts">Layout viewer</a></li>
      <li><a href="/layouteditor">Layout editor</a></li>
      <li><a href="/dataviz">Data visualization</a></li>
    </ul>
  </div>
</div>
